@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CircularStd;
  src: url(./../public/fonts/CircularStd-Bold.woff2);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: CircularStd;
  src: url(./../public/fonts/CircularStd-Black.woff2);
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: CircularStd;
  src: url(./../public/fonts/CircularStd-Medium.woff2);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: CircularStd;
  src: url(./../public/fonts/CircularStd-Bold.woff2);
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: CircularStd, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}




